<form class="new-post-form">
  <h3 class="invisible" id="doctors_id">{{id}}</h3>
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" name="Name" />
    <label for="Date_of_Birth" class="form-label">Date of Birth</label>
    <input
      type="text"
      class="form-control"
      name="Date_of_Birth"
      placeholder="YYYY/MM/DD"
    />
    <label for="symptoms" class="form-label">Symptoms</label>
    <input type="text" class="form-control" name="symptoms" />
  </div>
  <button type="submit" class="btn btn-primary">I want to see this doctor</button>
</form>
<script src="/javascript/add-client.js"></script>