<article class="doctor">
  <div class="doctor-layout">
    <div class="doctor-title-style">
      <h3 class="doctor-title">{{doctor.title}}</h3>
    </div>
    <div class="doctor-description-style">
      <p>{{doctor_description}}</p>
    </div>
    <button>Remove</button>
  </div>
</article>