<div class="card mb-3">
  <div class="card-body">
    <a href="/doctor/{{id}}"><h5 class="card-title">{{name}}</h5></a>
    <h6 class="card-subtitle mb-2 text-muted">
      {{speciality}}</h6>
    <p class="card-text">{{availability}}</p>
  </div>
</div>