<article class="patient">
  <div class="patient-layout">
    <div class="patient-title-style">
      <h3 class="patient-title">{{patient.title}}</h3>
    </div>
    <div class="patient-description-style">
      <p>{{patient_description}}</p>
    </div>
    <button>Delete</button>
  </div>
</article>