<article class="patient">
  {{#each clients}}
    <div class="patient-layout">
      <div class="patient-title-style">
        <h3 class="patient-title">{{name}}</h3>
      </div>
      <div class="patient-description-style">
        <p>{{symptoms}}</p>
      </div>
      <button>Delete</button>
    </div>
  {{/each}}
</article>