<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Healthree</title>
  {{!-- Change to respective style sheet name --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="main-wrap">
    <header>

      <a href="/"><img src="../images/healthbuddywhite.png" alt="" width="400" height="125"></a>
      <nav class="main-nav">
        <a href="https://github.com/healthree/health-buddy">About Us/Our Team</a>
        {{#if loggedIn}}
        {{!-- Change to respective javascript name --}}
        {{!-- <h3>Welcome {{ user.name }}</h3> --}}
        <button id="logout" class="btn-no-style">Signout</button>
        {{else}}
        <a href="/login">Admin Access</a>
        {{/if}}
        <a href="/phone">Phone</a>
      </nav>
    </header>
    {{!-- make background for main a picture --}}

    <main>
      {{{body}}}

    </main>
  </div>
  <footer>
    <a href="/contact-us">Contact Us</a>
  </footer>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>
</html>

<script src="/javascript/edit-clients.js"></script>
<script src="/javascript/delete-clients.js"></script>