<form class="BMI-form">
  <div class="BMI-form-height">
    <label for="BMI-height" style="">Height:</label>
    <input type="text" id="BMI-height" size="50" />
  </div>
  <div class="BMI-form-weight">
    <label for="BMI-weight" style="">Weight:</label>
    <input type="text" id="BMI-weight" size="50" />
  </div>
</form>

<script src="/javascript/BMI.js"></script>