<div class="main-bg">
  <h3>Welcome, Doctor</h3>
  <img src="../images/healthbuddybg.png" alt="" width="1000" height="600" />
</div>
<div class="main-btn">
  <a href="/clients"><button id="Paitent-list">Edit Patients</button></a>
  <a href="/doctor"><button id="Paitent-list">Doctor List</button></a>
</div>