<ol class="patient-list">
  {{#each doctors as |client|}}
  <li style="list-style-type: none;">
    {{> patient-information client }}
  </li>
  {{/each}}
</ol>

<ol class="doctor-list">
  {{#each doctors as |doctor|}}
  <li style="list-style-type: none;">
    {{> doctor-information doctor }}
  </li>
  {{/each}}
</ol>