<div class="main-bg">
  <img src="../images/healthbuddybg.png" alt="" width="1000" height="600" />
</div>
<div class="main-btn">
  <a href="/bmi"><button id="bmi-btn">Check BMI</button></a>
  <a href="/doctor"><button id="who-btn">Who Should I See?</button></a>
  <a href="/issues"><button id="issue-btn">Health Issue Details</Details></button></a>
</div>