<form class="login-form">
    <div class="login-form-email">
      <label for="email-login" style="">Email:</label>
      <input type="text" id="email-login" size="50"/>
    </div>
    <div>
      <label for="password-login" style="">Password:</label>
      <input type="password" id="password-login" size="50" />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
</form>

<script src="/javascript/login.js"></script>