<form class="signup-form">
  <div>
    <label for="username" style="">Username:</label>
    <input type="text" id="username" class="form-control" size="35" />
  </div>
  <div>
    <label for="email" style="">Email:</label>
    <input type="text" id="email" class="form-control" size="35" />
  </div>
  <div>
    <label for="password" style="">Password:</label>
    <input type="text" id="password" class="form-control" size="35" />
  </div>
  <div>
    <button type="submit" style="" class="mt-3">Signup</button>
  </div>
</form>
<script src="/javascript/signup.js"></script>