<form class="signup-form">
  <div>
    <label for="username-signup" style="">Username:</label>
    <input type="text" id="username-signup" size="35"/>
  </div>
  <div>
    <label for="email-signup" style="">Email:</label>
    <input type="text" id="email-signup" size="35"/>
  </div>
  <div>
    <label for="password-signup" style="">Password:</label>
    <input type="password" id="password-signup" size="35"/>
  </div>
  <div>
    <button type="submit" style="">Signup</button>
  </div>
</form>
<script src="/javascript/sign-up.js"></script>