* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #1cccd3;
  font-weight: bold;
  transition: color 0.1s;
  padding: 15px;
  font-size: larger;
}

a:hover {
  color: #ff5a5a;
  text-decoration: none;
}

button {
  background-color: #1cccd3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #ffffff;
  border: 1px solid #1cccd3;
  color: #1cccd3;
}

.main-wrap {
  width: 100%;
  min-height: 100%;
  max-width: 1500px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-bg {
  margin-left: 25%;
  margin-top: -2%;
}

.main-btn {
  margin-top: -30%;
}

header {
  border-bottom: 1px solid #1cccd3;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.patient-btn,
.edit-btn,
.delete-btn,
.access-btn,
.doctors.btn {
  background: none;
  border: #ff5a5a;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #ff5a5a;
  font-size: large;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
  margin-right: 30px;
}

.btn-no-style:hover {
  background: #ff5a5a;
  color: #ffffff;
}

#delete-patient-btn {
  background-color: #d41414;
}

#delete-patient-btn:hover {
  background-color: #ff643d;
}

#edit-patient-btn {
  background-color: #3486eb;
}

#edit-patient-btn:hover {
  background-color: #225ca3;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ff5a5a;
  background-color: #ffffff;
  color: #1cccd3;
  display: flex;
  justify-content: space-between;
  padding: 0.5%;
  font-size: 110%;
  font-style: italic;
  font-weight: 700;
}

.footer-address {
  font-size: medium;
  color: #1f2b5b;
}

.footer-copy {
  font-size: small;
  color: #1f2b5b;
}
